<html>
<head>
  <title>demo</title>
</head>
<body>
<form method="POST">
  <input type="hidden" name="id" value="{{model.id}}">
  <input type="text" id="titre" name="titre" value="{{model.title}}"/>
</form>
</body>
</html>